* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #dcdcdc;
}

.container {
    height: 300px;
    width: 500px;
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    animation: bg-animation 30s linear infinite;
}

@keyframes bg-animation {
    0% {
        background-image: url(./images/image2.png);
    }
    20% {
        background-image: url(./images/image3.png);
    }
    40% {
        background-image: url(./images/image7.jpg);
    }
    60% {
        background-image: url(./images/image8.jpg);
    }
    80% {
        background-image: url(./images/image9.jpg);
    }
    100% {
        background-image: url(./images/image2.png);
    }
    
}