* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f06, #4a90e2);
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}







.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}